{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

 {% block title %} <title>Payment</title>{% endblock %}
 {% block content %}
     <div class="container">
<h3 class="text-center">Event: {{ event.Event_title }}</h3>

    <div class="row">
        <div class="col-sm-0 col-md-2 col-lg-3"></div>
        <div class="col-sm-12 col-md-8 col-lg-6">
           <form id="buy-tickets-form" method="post" action="{% url 'approval' event.id %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend>Request Approval</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="d-grid gap-2 col-6 mx-aut form-group">
                     <button class="btn btn-success  " type="submit">Request Approval</button>
                </div>
            </form>
        </div>
    </div>
    </div>



{% endblock %}