
<!-- Start footer section-->
<div class="container text-center bg-light p-4">
  <div class="row">
    <div class="col">
      <h5>About Webpage</h5>
       <p>ProTicketHub: Advanced ticketing platform with customized solutions for seamless event management and optimization.</p>
    </div>
    <div class="col">
      <h5>Connect with US</h5>
        <a href="https://www.instagram.com/chegeharrrison/"><i class="bi bi-instagram"></i></a>
        <br>
        <a href="https://github.com/chegeharrison"><i class="bi bi-github"></i></a>
        <br>
        <a href="https://www.linkedin.com/in/chegeharrison/"><i class="bi bi-linkedin"></i></a>
        <br>
        <a href="https://twitter.com/chegeharrrison"><i class="bi bi-twitter-x"></i></a>

    </div>
    <div class="col">
        <h5>Contact Us</h5>
        <p> <i class="bi bi-telephone-fill"></i> 0111445140</p>
        <p><i class="bi bi-envelope-at"></i> chegeharrison10@gmail.com</p>
      <small>&copy;ProTicketHub</small>
    </div>
  </div>
</div>


