{% extends 'base.html' %}
{% load static %}
{%block title%}<title>Home Page</title> {% endblock %}
{% block content %}
     <!--start of the 1st column-->
<div class="container container-fluids">
<h3 class="text-center">Active Events</h3>
<div class="row">
    {% for event in all_events %}
       <div class="col-sm-12 col-md-4 col-lg-4 mt-4 mb-4">
       <div class="card">
            <img  src={{ event.Poster }} class="card-img-top rounded" alt={{ event.description }} width="250px" height="200px">
           <div class="card-body">
             <h5>{{ event.Event_title }}</h5>
             <p>{{ event.Date }}</p>
             <p>{{ event.Time }}</p>

             <a href="#"><p><i class="bi bi-geo-alt-fill">{{ event.Location }}</i></p></a>

           </div>
           <div class="card-footer">
           <button class="btn btn-danger" style="width: 100%">Buy Ticket</button>
           </div>
       </div>
       </div>
   {% endfor %}
</div>
</div>


{% include 'footer.html' %}

{% endblock %}

